@*@model IEnumerable<Homework_04.Models.Reduction>

@{
    ViewBag.Title = "Reductions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reduction</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeekID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KilosNotRecycled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KilosNotRecycled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
