@model IEnumerable<Homework_04.Reduc>

@{
    ViewBag.Title = "NewReduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <h1>Reduction</h1>
    <p class="lead">
        Reducing the amount of non-recyclable products that you use, is a great way to aid the fight against pollution. The more non-recyclable items you throw away, the more of them end up in our oceans, and in our landfills      <br />
        <br />
        You can use the attached table to track your weekly usage of non-recyclable items, and therefore be more conscious of your waste reduction efforts.
    </p>
</div>




<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!-- @Html.DisplayNameFor(model => model.WeekNum) -->
            @Html.Label("Week")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KiloNotRecycled)*@
            @Html.Label("Kilograms not Recycled")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.WeekNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KiloNotRecycled)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comments)
    </td>
    <td>
        @Html.ActionLink("Edit", "Update", new { id = item.WeekNum }) |
        @Html.ActionLink("Details", "Detail", new { id = item.WeekNum }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.WeekNum })
    </td>
</tr>
}

</table>

<style>
    body {
        color: #404e67;
        background: #f5f7fa;
        font-family: "Open Sans", sans-serif;
    }
</style>